
header {
    background-color: rgba(0, 0, 0, 0.503);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: "Bahnschrift SemiBold Condensed";
}

input{
    background-color: transparent;
    width: 25%;
    height: 30px;
    color: aliceblue;
    
    border-radius: 7px;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion-container{
    display: flex;
    background-color: rgba(0, 0, 0, 0.674);
    flex-direction: column;
    width: 82%;
    margin: 20px;
    border: solid 1px rgba(255, 255, 0, 0.972);
    border-radius: 7px;
}

.titulo-seccion{
    color: beige;
    background-color: rgba(165, 42, 42, 0.391);
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PMingLiU-ExtB";
    margin-top: 0%;
    margin-bottom: 0%;
}

.ver-mas{
    background-color: rgba(165, 42, 42, 0.391);
    display: block;
    color: white;
    text-align: center;
    align-items: flex-start;
    height: 40px;
    text-decoration: none;
}

.cocteles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    color: white;
}

.coctel-card {
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    background-color: rgba(85, 10, 10, 0.734);
    border: solid rgba(85, 10, 10, 0.734); 1px;
}

.coctel-card:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: black;
    color: white;
    margin: 10% auto;
    padding: 20px;
    max-width: 600px;
    min-height: 300px;
    position: relative;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nombre-coctel{
    margin-top: 0%;
    font-family: "Yu Gothic Medium";
}

img{
    width: 200px;
    height: 200px;
}

#coctel-imagen{
    float: right;
    width: 250px;
    height: 300px;
}

body {
    display: grid;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('assets/images/wallpaper.png');
    background-size: cover;
    background-attachment: fixed;
}

#panel-izquierdo {
    position: fixed;
    top: 0;
    left: -210px; /* Inicialmente oculto fuera de la pantalla */
    width: 200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.583);
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease; /* Agregamos una transición para suavizar el desplazamiento */
    z-index: 1;
}

#boton-desplegable {
    cursor: pointer;
    font-size: 24px;
    position: fixed;
    top: 50px;
    left: 20px;
    background-color: black;
    color: white;
}

#indice-categorias {
    position: fixed;
    top: 80px;
    list-style-type: none;
    padding: 0;
}

#indice-categorias li {
    margin-bottom: 10px;
}

#indice-categorias a {
    text-decoration: none;
    color: beige;
    font-weight: bold;
    display: block;
}

